// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffffff !default;
$header-bg-color: #222831 !default;
$header-bg-color-secondary: #31363F !default;

// Text
$section-headings-color: #2E073F !default;
$body-text-color: #222831 !default;
$body-link-color: #301E67 !default;
$blockquote-text-color: #5C469C !default;

// Code
$code-bg-color: #f1ecec !default;
$code-text-color: #5f169b !default;

// Borders
$border-color: #000000 !default;
$table-border-color: #313131 !default;
$hr-border-color: #61677A !default;
