<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <!-- Use page.title from front matter, fallback to site.title or repository name -->
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      
      <!-- Use project_tagline from front matter if available, otherwise fallback to site description or project_tagline -->
      <h2 class="project-tagline">{{ page.project_tagline | default: site.description | default: site.github.project_tagline }}</h2>
     
      <a href="{{ site.baseurl }}/index" class="btn">Home</a>
      <a href="{{ site.baseurl }}/writeups" class="btn">Writeups</a>
      <a href="{{ site.baseurl }}/research" class="btn">Research</a>
      <a href="{{ site.baseurl }}/about" class="btn">About</a> 
      
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Support my education journey: Any contribution to my tuition fund is greatly appreciated! <a href="https://buymeacoffee.com/stackxbyte">Buy Me A Coffee</a>.</span>
      </footer>
    </main>
  </body>
</html>

